
/*-----------------css variables------------------------*/

html,body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #4458dc;
    --praimary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #f45fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    --roboto: 'Roboto', cursive;
}


/*----------------------global classes ------------------*/

.title-text {
    font: normal bold 50px/72px var(--roboto);
}

.text-uppercase {
    text-transform: uppercase;
}


.site-buttons {
    padding-left: 22%;
}


.btn {
    padding: .8rem 2.2rem;
    padding-left: 14%;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
}

.btn .btn-outline-primary {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);
}

/*---------------------------about area----------------------*/

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);

}
.font-roboto {
    font-family: var(--roboto);
}

button:focus, 
button:active, 
button:hover, 
.btn:active, 
.btn .active {
    outline: 0px !important;
    box-shadow: none !important;
}



/*------------import font from font css file  ---------------*/

@import url(../css/fonts\ .css);


/*-------------------defol css---------------------------*/

    @import url(../css/defolt.css);


/*--------------------global---------------------------*/

@import url(../css/-global.css);


/*-------------------navigation ---------------------*/

.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-navbar {
    padding: 1rem 20rem;
}
.header-area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.2rem;
    color: black;
}

.header-area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.header-area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*----------------------banner area--------------------------*/

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500; 
    padding-left: 35%;
    
}

.site-main .site-banner .site-title h3::after {
    content: '';
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
    
}

.site-main .site-banner .site-title h1 {
    font-size: 4rem;
    padding-left: 20%;


}
.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
    padding-left: 20%;
}

.site-main .site-banner .banner-image>img {
    padding: 7rem 0;
    width: 40rem;
}


.site-buttons {
    padding-left: 22%;
}


.btn {
    padding: .8rem 2.2rem;
    padding-left: 14%;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
}

.btn .btn-outline-primary {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);
}


/*-------------------------about area------------------------------*/


.about-area {
    padding: 8rem 5rem;

}

.about-area .about-title h2>span {
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 12px;
}

.about-area .about-title .paragraph>p {
    padding: .4rem 0;
}

/*------------------------------start brand area -------------------*/

.brand-area {
    padding: 1rem 20rem;
    margin-bottom: 4rem;

   
}

.brand-area .first-row .col-lg-4 {
    display: flex;
    justify-content: center;
    
}

.brand-area .first-row .col-lg-4> .single-brand {
    border: 1px solid #201f1f17;
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform.4s ease;

}



.col-xl-6 col-lg-12 col-md-12 {
    padding: 1rem 1rem;
    margin: .9rem 1rem;
}

.brand-area .first-row .col-lg-4> .single-brand> img {
    width: 50%;
}

.brand-area .first-row .col-lg-4> .single-brand:hover {
    color: rgba(57,56,61,0.205);
    transform: scale(1.5);

}
.brand-area .first-row .col-lg-4> .single-brand:hover> img {
    filter: brightness(0.20);
}


.brand-area .experience-area .years-area {
    padding-left: 1rem;

}

.brand-area .experience-area span {
    display: block;
}

.brand-area .experience-area .years-area {
    background: url(../img/client-info-bg.png)no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.brand-area .experience-area .bg-pane {
    position: absolute;
    left: -190px;top: 365%;
   
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 840px;
    z-index: -1;
}


.brand-area .experience-area .years-area .years {
    font: normal bold 60px/40px var(--roboto);
    color: var(--primary-color);
    z-index: 2;

}

.brand-area .experience-area .years-area h2> span {
    font: normal 500 22px/30px var(--roboto);
}


.brand-area .experience-area .coll-now {
    padding-left: -1rem;
}


/*--services area ---*/

.services-area {
    padding: 7rem 2rem;

}
.services-area .services-title {
    padding: 0 14rem;
}

.services-area .services-title h1 {
    font: 35px;
    color: violet;
}

.services-area .services {
    background: rgba(248,252,253,0.973);
    padding: 2rem 0;
    width: 14rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.services-area .services:hover {
    box-shadow: var(--box-shadow);
   
}



/*----project area -----*/
.project-area {
    padding: 4rem 0;

}

.project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;

}

.project-area .button-group button + button {
    padding-left: 3rem;

}
.project-area .grid .our-project> .title h4 {
    font: normal 700 25px/12px var(--roboto);

}

.project-area .grid .our-project .img img:hover {
    filter: brightness(1.2) drop-shadow(1px 8px 30px #b1afaf);
    transform: scale(1.1);
}


/*-----subscribe me---*/

.subscrive-us-area .subscrive {
    background: url(../img/subscribe-bg.png);
    padding: 10rem 0;
    margin: 3rem auto;

}

.subscrive-us-area .subscrive .subscrive-title {
    font: normal 700 30px/30px var(--roboto);
    color: whitesmoke;
}


.subscrive-us-area .subscrive .subscrive-title p {
    color: whitesmoke;
    padding: 1rem 4rem;
}

.subscrive-us-area .subscrive form .input-textbox .input {
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: black;

}

.footer-area {
    padding: 5rem 0;
    background: url(../img/footer-bg.png)no-repeat;

}

.footer-area .social h5 {
    font: normal 500 23px/30px var(--roboto);
}

.footer-area .social a>i {
    font-size: 22px;
    padding: 2rem;
   
}

.footer-area .social a:hover>i {
    color:red;
}




















